@import "vars";
@import "generics";


// TXT STYLE
.fw-bold{
    font-weight: bold;
    font-size: 18px;
}

.txt-blue {
    color: #0282f9;
  }

.txt-white-important {
    color: white;
    font-weight: bold;
    //   line height da togliere e fare una classe generica
    line-height: 150px;
  }

.txt-center{
  text-align: center;
}

a{
  text-decoration: none;
  color: white;
}
// LIST STYLE
ul {
    list-style-type: none;
  }
li {
    display: inline;
    padding: 0px 10px;
    font-weight: bold;
  }

  // BTN
  .btn{
    padding: 15px;
    border: 2px solid #0282f9;
  }

  // BG-COLOR

  .bg-black {
    background-color: black;
    height: 20px;
  } 